DB_NAME='kostya'
DB_USER='postgres'
DB_PASSWORD='05032003'
DB_HOST='localhost'
DB_PORT='3001'
DB_NAME_MONGO='mongodb'
DB_PORT_MONGO='27017'

TOKEN_SECRET='helloWorld'

DATABASE_URL='postgresql://postgres:05032003@localhost:5432/kostya'